1 madde projede yazılan kodların temelini bozmayacaksın 
2.sadece düzeltme yapcaksın.
3.ekleme yapcaksın.
4.kodun temeli asla bozulmayacak.
5. kod ne kadar uzarsa uzasın hangi satıra yazılacaksa o satıra kodu ekleyeceksin.
6. bu kuralları her bir sana emir yada yap yükle desem de uygulayacaksın.
şimdilik bu kadar ekleyecek olursam .cursorrules derim
7. .cursorrules hata var ise hangi satırda hata varsa sadece o satırda düzeltme yapacaksın geri kalan satırlara müdahale veya çıkartma yapmayacaksın
8. bana her zaman türkçe cevap ver
9. cevaplarını uzatmadan net bilgiler ver
